<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Limudisk-5-7" Language="1033" Version="0.0.26" Manufacturer="artNsmart" UpgradeCode="3D3B43CD-9A3B-430B-BC82-FEADCAFAEFF8">
        <Package Description="Limudisk - artNsmart" Comments="artNsmart" InstallerVersion="200" Compressed="yes" />
        <!-- depending on what components you want, you may need to add additional features to this command line -->
        <CustomAction Id="AddNet35Component" Property="Net35Component" Value="&quot;[SystemFolder]dism.exe&quot; /norestart /quiet /online /enable-feature /featurename:NetFx3" Execute="immediate" />
        <CustomAction Id="Net35Component" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no" />
        <InstallExecuteSequence>
            <Custom Action="AddNet35Component" After="CostFinalize" />
            <Custom Action="Net35Component" After="InstallInitialize"><![CDATA[(NOT Installed)]]></Custom>
        </InstallExecuteSequence>
        <UI>
            <ProgressText Action="Net35Component">Enabling .Net 3.5</ProgressText>
        </UI>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Component Id="TestComponent" Guid="4C590116-1652-4F97-82FF-17AFF8DB1B8D" Feature="MainFeature">
                <util:User Id="testuser" Name="testuser" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" />
            </Component>
        </Directory>
        <Feature Id="MainFeature" Level="1" />
        <UIRef Id="WixUI_Minimal" />
    </Product>
</Wix>